

*{
     padding:0px;
     margin:0px;
     box-sizing:border-box;}
     
.contener {
     background-color:#C3A9A9;
     width:300px;
     height: 100px;     
     border:2px solid black;  
     margin:auto;
     margin-top:2rem;
     box-shadow:4px 1px 4px #683739;
     padding: 2px;               
     }
     
.contener h1 {
     color:#164CD2;
     text-shadow:4px 1px 4px #683739;     
     font-size:32px;
     
     font-weight: bold;
     font-style: italic;
     text-transform: capitalize;
     
     }
